@mixin cta {
    margin: 3.75rem 0rem 0rem 0rem;
    display: inline-block;
    min-width: 260px;
    color: #004d9d;
    background-color: transparent;
    border: 1px solid #004d9d;
    text-decoration: none;
    font-size: rem(26);
    line-height: 1.8;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.25s ease;
    // letter-spacing: 0.1875em;
    position: relative;
    z-index: 0;
    padding: 0 20px;
    &:before{
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: 0.25s linear;
        background: #004d9d;
        z-index: -1;
    }
    &:hover {
        color:white;
        &:before{
            width: 100%;
        }
    }

}

@mixin cta-primary {

}

@mixin cta-secondary {
color:white;
background-color:hubl("$c5");
border:none;
&:before{
    background: hubl("$c6");
}
}


.cta_button, .cta {
    text-decoration: none;
    box-sizing: border-box !important;
    margin-bottom: 20px;
    &:hover{
        text-decoration:none;
    }
}

.cta-primary,
.cta-secondary {
    @include cta;
    &--big{
        text-transform: none;
        font-size:30px;
        line-height: 2.5;
    }
}

.cta-primary {
    @include cta-primary;

}

.cta-secondary {
    @include cta-secondary;
}

