.footer-container-wrapper {
	border:none;

    .row-fluid [class*="span"] {
        min-height: 0;
    }

    .footer-top {
        background-color: hubl("$headers-font-color");

        .social-icons-wrapper {
			@media(max-width:991px){
				width:100%;
			}
			.social-icons-inner{
				padding-left: 75px;
				display:flex;
				@media(max-width:991px){
					justify-content: center;
					padding:0;
					flex-wrap:wrap;
					margin-top:20px;
				}
				a{
					.social-icon{
						width:75px;
						height:75px;
						background-color:hubl_rgba("$white",0.15);
						margin:0 2px;
						@media(max-width:500px){
							width:45px;
							height:45px;
						}
						.icon{
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							text-align: center;
	
							img{
								height:40px;
								@media(max-width:500px){
									height:20px;
								}
							}
						}
					}
				}
			}

		}
		.contact-wrapper{
			padding-top:12px;
			@media(max-width:991px){
width:100%;
margin:0;
			}
			.contact-inner{
				>div.row-fluid-wrapper{
					>div.row-fluid{
						justify-content: flex-end;
						display: flex;
						padding-right:65px;
						a{
							text-decoration: none;
						}
						@media(max-width:991px){
							justify-content: center;
							padding:20px 0;
										}
										@media(max-width:767px){
											flex-direction: column;
										}
						.left, .right{
							max-width: 200px;
							@media(max-width:991px){
								text-align: center;
								max-width:100%;
								margin:0;
											}
						}
						.right{

						}
					}
				}
				.contact-title{
					font-size:rem(16);
					color:hubl("$white");
				}
				.contact-text{
					font-size:rem(20);
					color:hubl("$white");
					a{
						text-decoration: none;
						font-size:rem(20);
						color:hubl("$white");
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

		}
    }

    .footer-bottom {
		.hs-menu-wrapper{
			text-align: center;
			transform: translateY(2px);
			>ul{
				height:40px;
				>li{
					>a{
						font-size:rem(16);
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}