.header-container-wrapper {

    .row-fluid [class*="span"] {
        min-height: 0;
	}
	.header-container{
		.row-fluid-wrapper{
			// height:0px !important;
		}
	}
}

#smallHeader{
	>div{

		a{

		}
	}
	.karriere{
		display:inline-block;
		padding:0 1.875rem;
		a{
			color: hubl("$white");
		}
		@media(max-width:991px){
			display:none;
		}
	}
}
.custom-header-fixed-group{
	/*IMPORTANT CHANGES ON MENU CLICKRAY - PATRYK */
	@media(max-width:991px){
		display:none !important;
	}
	.custom-logo-group{
		@media(max-width:1300px){
			padding-left:20px;
		}

		.custom-logo{
			a{
				img{
					padding-top:8px;
					@media(max-width:991px){
						padding-top:120px;
					}
				}
				font-weight:300;
				font-size:16px;
				line-height: 32px;
			}
		}
	}
	.custom-menu-primary{
		height:80px;
		@media(max-width:1300px){
			margin-left:10px !important;
		}
		.active-branch{
			@media(max-width:1300px){
				padding-left:0 !important;
			}
			>li{
				>a{
					
					font-size:14px;
					padding:0 24px;
					font-weight:400;
					@media(max-width:1300px){
						padding:0 10px;
					}
				}
			}
		}
	}
}

.custom-header-mobile-group{
	.custom-logo-group{
		.custom-logo{
			a{
				img{
					padding-top:12px;

				}
				font-weight:300;
				font-size:16px;
				line-height: 32px;
			}
		}
	}
	.custom-menu-primary{
		height:auto;
		ul{
			>li{
				>a{
					font-size:16px;
					padding:0 24px;
					font-weight:400;
				}
			}
		}
		.widget-type-menu{
			height:auto;
		}
	}
}

.hs-menu-wrapper.hs-menu-flow-horizontal {
    >ul {
        li.hs-item-has-children {
            ul.hs-menu-children-wrapper {
				left: 50%;
				@media(max-width:1300px) and (min-width:992px){
					display: flex !important;
					flex-direction: column;
				}
				>li{
					>a{
						line-height: 25px;
					}
				}
            }
        }
    }
}
.header-container .hidden-desktop{
	// display:none !important;
	@media(max-width: 1000px){
		// display:block !important;
	}
}
// .custom-header-fixed-group{
// 	display:block !important;
// }

.header-fix{
.custom-menu-primary{
	height:80px;
	@media(max-width:1300px){
		margin-left:10px !important;
	}
	.active-branch{
		@media(max-width:1300px){
			padding-left:0 !important;
		}
		>li{
			>a{
				font-size:14px;
				padding:0 24px;
				font-weight:400;
				@media(max-width:1300px){
					padding:0 10px;
				}
			}
		}
		>ul{
			>li{
				>a{
					line-height: 60px;
				}
			}
		}
	}
}
}