html {
    font-size: #{$browser-context}px;
}

@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.text-small {
    font-size: #{$browser-context - 4}px;
}

body {
    line-height: 1.4;
    font-family: hubl("$main_font");
    font-weight: normal;
    color: hubl("$main_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

small,
.small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

cite {}

code {}

pre {}

sup,
sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

p {
    font-size: rem(16);
    font-weight: 300;
    line-height: rem(32);
    margin-top: 0;
    margin-bottom: rem(20);
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: rem(30);

    a {
        color: inherit;
    }
}

h1,
.h1 {
    font-weight: 300;
    font-size: rem(61);

    @media (min-width: 576px) {
        font-size: rem(60);
    }
}

h2,
.h2 {
    font-weight: bold;
    font-size: rem(22);
    font-weight: 600;
    line-height: rem(40);
    color: hubl("$headers-font-color");
    &--big{
        font-size: rem(24);
    }
}

h3,
.h3 {
    font-weight: bold;
    font-size: rem(20);
}

h4,
.h4 {
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.5;
    margin-bottom: rem(15);
}

h5,
.h5 {}

h6,
.h6 {}

ul,
ol {
    margin-top: 0;
    margin-bottom: rem(20);

    ul {}

    ol {}

}

ul {
    list-style: none;
}

li {}

blockquote {}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-underline-position: under;
    font-size: 14px;
    transition: .3s all;

    &:hover {
        // text-decoration: underline;
        // transition: .3s all;
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
    &.underline {
        &:hover {
            text-decoration: none;
            &:after {
                transition: .2s all;
                height: 5px;
                margin-bottom:0px;
            }
        }
        &.one-height{
            &:hover {
                text-decoration: none;
                &:after {
                    height: 3px;
                    margin-bottom:3px;
                }
            }
        }

        &:after {
            transition: .2s all;
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            margin-bottom:3px;
            background-color:hubl("$headers-font-color");


        }
        &.allgemein{
            &:after{
                background-color:hubl("$headers-font-color");
            }
        }
        &.automation{
            &:after{
                background-color:hubl("$c1");
            }
        }
        &.energietechnik{
            &:after{
                background-color:hubl("$c2");
            }
        }
        &.gebäudetechnik{
            &:after{
                background-color:hubl("$c4");
            }
        }
        &.messtechnik{
            &:after{
                background-color:hubl("$c3");
            }
        }
    }

}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    display: block;

    a:not(.cta_button):not(.cta) {
        color: hubl("$headers-font-color");
        text-decoration: underline;
    }

    ul {
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: hubl("$first_color");
                left: -26px;
                top: em(12);
            }
        }

        ul {
            padding-left: 20px;
        }
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                counter-increment: section;
                content: counters(section, ".") ".";
                position: absolute;
                display: block;
                color: hubl("$first_color");
                left: -26px;
                top: 0;
            }
        }

        ol {
            padding-left: 40px;

            li {

                &:before {
                    left: -60px;
                }
            }
        }
    }

}

.text-center {
    text-align: center;
}

.background-color {

    &--first-color {

        color: #fff;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            color: #fff;
        }

        blockquote {}

        a:not(.cta_button):not(.cta) {
            color: #fff;

            text-decoration: underline;
        }

        i {
            color: #fff;
        }

        ul {

            li {

                &:before {
                    background-color: #fff;
                }
            }
        }

        ol {

            li {

                &:before {
                    color: #fff;
                }
            }
        }
    }
}