$dev_version : true;

$variables : (
			  "$first_color": #30445b, 			// hubl("$first_color")
			  "$second_color": #4a4949,
			  "$dark": #4B4B4B,
			  "$white": #fff,
			  "$c1":#fda53c,
			  "$c2":#51a1a8,
			  "$c3":#d7e7bc,
			  "$c4":#523740,
			  "$c5": #e25538,
			  "$c6":#ca3c1e,
			  "$c7":#dfdfdf,
			  "$headers-font-color": #004d9d,
			  "$link-color": #4295d1,
			  "$main_font_color": #4B4B4B,
			  "$main_font": ('Open Sans', sans-serif)
			  );

$browser-context: 16; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

