.reset-old-styles{
    .body-container-wrapper{
        @media(max-width:1390px) and (min-width:992px){
            padding-right: 80px;
        }
    }
}
#hs-eu-cookie-confirmation{
    #hs-eu-cookie-confirmation-inner{
        p{
            a{
                color:hubl("$headers-font-color") !important;
            }
        }
    }
}