.two-column-equal-landing-page-v2{
    #smallHeader{
        display:none !important;
    }
    .active-branch{
        >ul{
            display:none !important;
        }
    }
    .mobile-trigger{
        display:none !important;
    }
}