.general-blog {
    &-listing {
        .blog-listing-wrapper {
            .blog-listing-inner {

                @media(max-width: 1390px) and (min-width:992px) {
                    padding-right: 80px;
                }

                .tag-menu-wrapper {


                    .tag-menu-inner {
                        padding-top: 40px;

                        @media(max-width: 767px) {
                            padding-top: 20px;
                        }

                        .flexible-tag-menu {
                            padding: 0 40px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            text-transform: uppercase;

                            @media(max-width: 767px) {
                                flex-direction: column;
                            }

                            >li {
                                >a {
                                    h2 {
                                        margin-bottom: -2px;
                                    }
                                }
                            }
                        }
                    }
                }

                .blog-listing-elements {
                    .blog-listing-element {
                        width: 100%;

                        .blog-listing-inner {
                            padding: 70px 0;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;

                            height: 100%;

                            @media(max-width: 767px) {
                                padding: 35px 0;
                            }

                            .image-container {
                                overflow: hidden;

                                .image {
                                    width: 100%;
                                    height: 260px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                    cursor: pointer;
                                    transition: .3s all;

                                    &:hover {

                                        filter: contrast(120%);
                                        transform: scale(1.1);
                                        transition: .3s all;
                                    }
                                }
                            }

                            .text-container {
                                padding: 0 25px;

                                .author-and-tag {
                                    padding-top: 10px;
                                    display: flex;
                                    justify-content: space-between;
                                    color: hubl("$link-color");

                                    .peculiarities {
                                        display: flex;
                                        flex-direction: column;

                                        .author,
                                        .date {
                                            font-size: rem(13);
                                            font-weight: bold;
                                            padding-right: 8px;
                                        }

                                        .date {
                                            padding-right: 8px;
                                        }
                                    }

                                    .tag {
                                        // display: flex;
                                        // justify-content: flex-end;
                                        font-size: rem(14);
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        color: hubl("$headers-font-color");
                                        
                                    }
                                }

                                .post-title {
                                    padding-top: 30px;

                                    h2 {
                                        line-height: 1.6rem;
                                    }
                                }

                                .post-paragraph {
                                    p {
                                        text-align: justify;
                                        color: black;
                                        font-weight: 400;
                                        line-height: 1.2;
                                    }

                                }
                            }

                            .button {
                                margin-top: auto;
                                padding: 0 25px;

                                a {
                                    color: hubl("$headers-font-color");
                                    font-size: rem(19);
                                    font-weight: bold;
                                }

                            }
                        }
                    }

                    .blog-pagination {
                        width: 100%;
                        padding-bottom:50px;

                        a {
                            margin: 15px 5px 0;
                        }

                        .prev-next{
                            &.three-buttons{
                                display: flex;
                                justify-content: space-between;
                                @media(max-width:810px){
                                    flex-direction: column;
                                }
                            }
                            &.two-buttons{
                                flex-direction: column;
                                display: flex;
                                max-width: 270px;
                                margin: 0 auto;
                            }
                            .disabled{
                                opacity:0;
                                @media(max-width:544px){
                                    display:none;
                                }
                            }
                        }

                        
                    }

                    .newsletter {
                        width: 100%;
                        text-align: center;

                        a {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

}