.general-blog {
    &-post {
        .body-container-wrapper {
            @media(max-width: 1390px) and (min-width:992px) {
                padding-right: 80px;
            }

            #left-container {
                @media(max-width: 1390px) and (min-width:768px) {
                    flex: 0 0 65%;
                    max-width:65%;
                }

            }

            #right-container {
                @media(max-width: 1390px) and (min-width:768px) {
                    flex: 0 0 35%;
                    max-width:35%;
                }

            }

            .blog-post-wrapper {
                border-right: 1px solid hubl("$c7");
                padding-right: 50px;

                @media(max-width: 767px) {
                    border: none;
                    padding-right: 0;
                }

                .blog-post-inner {

                    .tag-and-author {
                        margin-top: 45px;

                        >ul.tag {
                            padding-left: 0;

                            >li {
                                display: inline-block;

                                a {
                                    h2 {
                                        margin: 0;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }

                        .author {
                            color: hubl("$link-color");
                            font-size: rem(13);
                            font-weight: 700;
                            padding-bottom: 20px;

                            a {
                                color: hubl("$link-color");
                            }
                        }
                    }

                    .blog-post-content {
                        h2 {
                            margin-bottom: 0px;
                            font-weight: bold;

                        }

                        p {
                            text-align: justify;
                        }
                    }

                    .blog-social-sharing {
                        .hs-blog-social-share {
                            border: none;
                            display: flex;

                            .hs-blog-social-share-item-twitter {
                                display: none;
                            }

                            .hs-blog-social-share-item-linkedin {
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
        }
    }

}