.banner-module-wrapper {
    position: relative;
    margin-top: 115px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    &--post{
        height: 400px;
    }
    @media(max-width: 991px) {
        margin-top: 100px;
    }
@media(max-width:1139px) and (min-width:992px){
    margin-top: 37px;
}

    .mask{
    position: absolute;
    height: 400px;
    // background: hubl("$headers-font-color");
    // opacity: 0.8;
    width: 100%;
    // &--350{
    //     height: 350px;
    // }
    }

    .banner-module-inner {
        height: 100%;
        position: relative;

        .banner-module {
            height: 100%;

            .banner {
                display: flex;
                height: 100%;
                align-items: center;
                .banner-text{
                    @media(max-width:1390px){
                        padding:0 15px;
                    }
                    .header-text {

                        h1 {
                            hyphens:auto;
                            font-size: rem(70);
                            font-weight: bold;
                            margin-bottom: 0;
                            color: hubl("$white");
                            @media(max-width:767px){
                                font-size: rem(45);
                            }
                        }
                    }
    
                    .sub-text {
                        h2 {
                            font-size: 26px;
                            font-weight: bold;
                            margin-bottom: 0;
                            color: hubl("$white");
                        }
                    }
                }

            }
        }
    }
}