.latest-post-wrapper {
    .latest-post-inner {

        .latest-post-title {
            padding-top: 8px;

            h2 {
                font-weight: bold;
                margin-bottom: 15px;
            }
        }

        .latest-post-element {

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 0;
            @media(max-width:500px){
                flex-direction: column;
            }

            .latest-post-image {
                width: 45%;
                margin-right: 5px;
                overflow: hidden;
                height: 80px;
                @media(max-width:767px){
                    height:200px
                }
                @media(max-width:500px){
                    width:100%;
                }

                .image {
                    width: 100%;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;
                    transition: .3s all;
                    @media(max-width:767px){
                        height:200px
                    }



                    &:hover {


                    }
                }
            }

            .latest-post-title {
                width: 55%;
                padding-top: 0;
                @media(max-width:767px){
                    padding-left:20px;
                }
                @media(max-width:500px){
                    width:100%;
                    padding:10px 0;


                }

                a {
                    font-weight: bold;
                    font-size: rem(16);
                    line-height: 1;
                    color: hubl("$dark");

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &:hover{
            .latest-post-image{
                .image{
                    filter: contrast(120%);
                    transform: scale(1.1);
                    transition: .3s all;
                }
            }
            }
        }
    }
}