.person-tag-wrapper {
    border-right: 1px solid #dfdfdf;
    padding-top:55px;
    @media(max-width:767px){
        border:none;
    }
    .person-tag-inner {
        display: flex;
        max-width: 650px;
        margin: 0 auto;
        @media(max-width:500px){
            flex-direction: column;
        }
        .left-side {
            .left-side-inner {
                @media(max-width:500px){
                    display: flex;
                    justify-content: center;
                    margin-bottom:25px;
                }
                .red-border {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 150px;
                    background-color: hubl("$c5");
                    border-radius: 50%;

                    .white-border {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 140px;
                        background-color: white;
                        border-radius: 50%;

                        .person-image {
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            width: 130px;
                            height: 130px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .right-side {
            width: 100%;
            padding: 0 20px;
            text-align: center;

            .person-title {
                h4{
                    color: hubl("$headers-font-color");
                }
            }
            .person-quotation{
                h4{
                    font-weight: 400;
                    font-style: italic;
                    
                }
                

            }
            .person-contact{
                h4{
                    p{
                        font-weight: bold;
                        font-size: rem(18);
                        line-height: 1.2;
                    }
                    
                }
            }
        }
    }

}