.post-bottom-buttons-wrapper {
    .post-bottom-buttons-inner {
        display: flex;
        justify-content: space-around;
        border-right: 1px solid hubl("$c7");
        flex-wrap: wrap;
        padding-top: 60px;
        margin-bottom: 60px;

        @media(max-width: 767px) {
            border-right: none;
            margin-bottom: 0;
        }

        .prev,
        .next {
            a {
                min-width: 150px;
            }

            &.disabled {
                opacity: 0;

                @media(max-width: 375px) {
                    display: none;
                }
            }
        }

        .first {
            width: 100%;
            display: flex;
            justify-content: center;
            order: 1;

            @media(max-width: 1100px) {
                order: 1;
            }
        }

        .produktseite {
            order: 3;

            @media(max-width: 1100px) {
                width: 100%;
                text-align: center;
                order: 2;
            }
        }

        .prev {
            order: 4;

            @media(max-width: 1100px) {
                order: 4;
            }

            a {
                @media(max-width: 375px) {
                    min-width: 260px;
                }
            }
        }

        .next {
            order: 2;

            @media(max-width: 1100px) {
                order: 2;
            }

            a {
                @media(max-width: 375px) {
                    min-width: 260px;
                }
            }

        }

        >div {
            padding: 0 10px;

            a {
                font-size: rem(20);
                margin-top: 1rem;
            }
        }

    }
}