.topic-module-wrapper{
    .topic-module-inner{
        .topic-title{
            padding-top:8px;
            h2{
                font-weight: bold;
            }

        }
        .topics{
            ul{
                padding:0;
                li{
                    a{
                        h2{
                            margin:15px 0;
                            margin-bottom:0;
                            text-transform:uppercase;
                            font-weight: 600;
                        }

                        &.underline {
                            &:hover {
                                text-decoration: none;
                                &:after {
                                    transition: .2s all;
                                    height: 6px;
                                    margin-bottom:-3px;
                                }
                            }
                    
                            &:after {
                                height: 3px;
                                margin-bottom:0px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}